{% extends 'base.html' %} 
{% block title %} Modificar doctor {% endblock %} 
{% block content %}
<h1>MODIFIQUE EL MEDICO QUE REALIZA UNA OPERACION:</h1>
{% if form %}
 <form action="" method="POST">
    {% csrf_token %} 
    <table>
        {{form.as_table}}
    </table>

    <p><input type="submit" value="ACTUALIZAR" ></p>
  </form>
    {% endif %}
    {% if form_errors %}
    <h2 >Errores:</h2>
    {{form_errors}}
{% endif %}
{% if message %}
<h2 style="color: red;" >{{message}}
  <p> <a href="/doctors/list-doctors/" class="btn btn-primary">Ir a la lista actualizada</a> </p>
</h2>
{% endif %}
{% endblock %}
