{% extends 'base.html' %}

{% block title %}
    Operaciones
{% endblock %}

{% block content %}
    <h1>TODAS LAS CIRUGIAS QUE SE REALIZAN</h1>
    <div style="display: grid; grid-auto-flow: row; justify-content: center; align-items:center ; padding: 2rem;" > 
        <h4>Agregar una nueva cirugía </h4> 
        <a href="/surgeries/newsurgerie" class="btn btn-primary">Crear</a>
    </div>
    <div style="background-color: gainsboro; display: grid; grid-auto-flow: column; padding: 2rem; justify-content: left; grid-column-gap: 2rem;">
      {% for surgerie in surgeries %}
      <div style="background-color: white; border: 1px solid #303030; display: grid; grid-auto-flow: row; width: fit-content; padding: 2rem; border-radius: 1rem; box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);
      -moz-box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);">
        <p style="margin: 0; font-size: 1rem; font-weight: 500; color: #303030;">El organo que se va a realizar la operacion es: {{surgerie.organ}}</p>
        <p style="margin: 0; font-size: 1rem; font-weight: 500; color: #303030;">El precio es $: {{surgerie.price}}</p>
        <p style="margin: 0; font-size: 1rem; font-weight: 400; color: #303030; text-decoration: underline;">¿Se requiere ser mayor de edad? : {{surgerie.legal_age}}</p>
      </div>
      {% endfor %}
    </div>
{% endblock %}