{% extends 'base.html' %}
{% block title %}
    Lista de ordenes
{% endblock %}
{% block content %}
    <h1>ESTA ES LA LISTA DE ORDENES</h1>
    {% if request.user.is_authenticated %}
 {% if request.user.is_superuser %} 
    <div style="display: grid; grid-auto-flow: row; justify-content: center; align-items:center ; padding: 2rem;" > 
        <h4>Agregar un nueva orden </h4> 
        <a href="/orders/neworder/" class="btn btn-primary">Agregar</a>
    </div>
 {% endif %} 
    {% endif %}
    <div style="background-color: gainsboro; display: grid; grid-template-columns: repeat(4, auto); padding: 2rem; justify-content: center;">
        {% for order in object_list %}
        <div style="background-color: white; border: 1px solid #303030; display: grid; grid-auto-flow: row; width: fit-content; padding: 2rem; margin: 1rem; border-radius: 1rem; box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);
        -webkit-box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(30,30,30,0.3);">
            <p style="margin: 0; font-size: 2rem; font-weight: 500; color: #303030;">{{order.client}}</p>
            <p style="margin: 0; font-size: 1rem; font-weight: 500; color: #303030;"> La cirigia que escogio fue esta : {{order.product}}</p>
            <p style="margin: 0; font-size: 1rem; font-weight: 400; color: #303030; text-decoration: underline;">La fecha que se realizo fue: <strong>{{order.creation_time}}</strong></p>
            <p style="margin: 0; font-size: 1rem; font-weight: 400; color: #303030; text-decoration: underline;">El metodo de pago fue: <strong>{{order.payment_method}}</strong></p>
            <p> <a href=" /orders/upgrade-orders/{{order.pk}}" class="btn btn-primary">Modificar</a> </p>
            <p> <a href=" /orders/delete-orders/{{order.pk}}" class="btn btn-danger">Borrar</a> </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}