{% extends 'base.html' %}

{% block title %}
    Modificar usuario
{% endblock %}

{% block content %}
    <h1>Completa el formulario para modificar el usuario: {{user.username}}</h1>



    {% if form %}

        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Ingresar">
        </form>
    {% endif %}

    {% if errors %}
        {{errors}}
    {% endif %}


{% endblock %}